!= "----------------------------------------------------------------------------------------------------------------------\n"
!= "* Effectuez vos recherches sur google." + config.country + "\n\n"
!= "* Mots clés principaux : " + kwsAsString + "\n\n"
if expressionsAsString
  != "* Liste des mots et expressions que vous devez obligatoirement utiliser dans cette page : \n"
  != expressionsAsString
  != "\n\n"
  != "Insérez ces expressions dans le texte avec un français correct (eg. 'interet emprunt voiture' devrait être : 'intérêts d'un emprunt pour une voiture' )\n"
!= "----------------------------------------------------------------------------------------------------------------------\n"
!= "N'oubliez pas de supprimer les commentaires et les spécifications dans ce texte, merci pour votre aide !\n"
!= "----------------------------------------------------------------------------------------------------------------------\n\n\n"

if parentPage
  != "Ajoutez ici une intro composée d'un ou plusieurs paragraphes contenant le lien "

  if parentPage.path
    !=  "[" + parentPage.kwsAsString + "](" + parentPage.path + ".html)"
  else
    !=  "[mot-clé de la page d'accueil](/)"

!= "\n\n"

!= "Ajoutez ici du contenu que vous avez trouvé sur google ou d'autres sources d'informations.\n"
!= "Vous pouvez ajouter des sous-titres, listes, tableaux en utilisant la syntaxe markdown : https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet\n"
!= "Ne répéter pas la même idée dans différents paragraphes.Proposez de l'information utile et/ou des conseils. \n"

!= "\n\n"

if subTitles 
  !="Respectez la structure des sous-titres ci-dessous. Complétez chacune des parties par un ou deux paragraphes ou plus si nécessaire."
  each subTitle in subTitles
    != subTitle + "\n\n"
    
if children
  != "## Si nécessaire, ajoutez un titre ici (ne pas retirer les ##, laissez un espace entre les ## et le texte du titre)\n"
  each child in children
    !=  "Ajouter ici un paragraphe (entre 3 et 5 phrases) contenant le lien :[" + child.kwsAsString + "](" + child.path + ".html). Le contenu de ce paragraphe doit être élaboré sur base du ou des mots-clés de ce lien.\n\n"

if sisters
   
  != "## Remplacez ce texte par un sous-titre, ne retirez pas les ##, laissez un espace entre les ## et le texte du titre.\n" 
  != "Il faut un titre court. Ex. 'Pour plus d'infos' ou 'Toutes nos solutions...'. Idéallement, il faut un titre différent sur chaque page. Prenez le temps de bien le choisir en fonction du contexte. Cette partie doit donner envie de lire les autres pages du site.\n\n"
  
  each sister in sisters
    !=  "- Une seule phrase avec ce lien [" + sister.kwsAsString + "](" + sister.path + ".html) Cette phrase doit être un résumé/descriptif de la paga associée à ce lien, doit être à chaque fois unique. \n\n"
