doctype html
html
  include partials/header.pug

  body

    include partials/menu.pug
    .container.marketing
      block content
      include partials/footer.pug

    include partials/scripts.pug
