!= '{\n'
!= '    "template"   : "page-with-sidebar.jade",\n'
!= '    "h1"         : "Page title - use this keyword : ' + kwAsString  + ' (or synonym)",\n'
if title 
  != '    "title"      : "' + title + '", // do not modify it !\n'
else
  != '    "title"      : "SEO Title - Try to start with this keyword : ' + kwAsString + ' - Between 50 & max 70 caracters",\n'
!= '    "description": "SEO Description - Between 100 et max 155 caracters",\n'
!= '}\n'
