div(class="sidebar-module sidebar-module-inset")
  p= widget.properties.intro
  p
    if (widget.properties.link.onclick)
      a(class="btn btn-primary btn-lg btn-block", href=widget.properties.link.href, role="button", onclick=widget.properties.link.onclick)= widget.properties.link.anchor
    else
      a(class="btn btn-primary btn-lg btn-block", href=widget.properties.link.href, role="button")= widget.properties.link.anchor
