.well
  p= widget.properties.text
  p
    if (widget.properties.link.onclick)
        a.btn.btn-primary.btn-lg(href=widget.properties.link.href,role='button', onclick=widget.properties.link.onclick)= widget.properties.link.anchor
    else
        a.btn.btn-primary.btn-lg(href=widget.properties.link.href,role='button')= widget.properties.link.anchor
