

doctype html
html
  include partials/header.pug

  body
    include partials/menu.pug
    div.container
      block content-title
      div.row
        block content
      include partials/footer.pug

    include partials/scripts.pug
